<ol class="breadcrumb">
    <li class="active">Home</a></li>
</ol>

<br/>

<%- partial ('partials/statusmessage.ejs') %>

<h2>Cast</h2>
<table class="table table-striped table-bordered" id="castTable" style="width:100%">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
  <% if(typeof castMembers != "undefined" && castMembers.length > 0){ %>
    <% castMembers.forEach(function(cast){ %>
      <tr>
        <td><%= cast.firstName %></td>
        <td><%= cast.lastName %></td>
        <td><%= cast.email %></td>
        <td><%= cast.title %></td>
      </tr>
    <% }) %>
  <% } %>
  </tbody>
</table>
